.side-box {
  bottom: 0px;
  top: 0px;
  right: 16px;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  width: 360px;
}
